.back-sign {
    color: #87CFD6;
}

.forget_logo {
    width: 154.85px;
    height: 19px;
    margin-top: 120px;
    margin-left: 44px
}
 .for_password {
    margin-top: 15px;
    margin-left: 57px;
    font-weight: 700;
    font-size: 45px;
    font-family:sans-serif;
    line-height: 60px;

}

.Forget_text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;

}

.Forget_btn {
    margin-top: 32px;
    margin-left: 54px;
    width: 426px;
}